 
 
 <!-- admin-layout.component.html -->
<div class="d-flex">
  <!-- Sidebar -->
  <aside class="bg-dark text-white p-3 vh-100" style="width: 250px;">
    <!-- Insert your dynamic menu code here -->
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let menu of structuredMenu">

        <!-- Dropdown menu -->
        <ng-container *ngIf="menu.children.length > 0; else simpleLink">
          <a class="nav-link text-white dropdown-toggle"
             (click)="menu.expanded = !menu.expanded"
             [attr.aria-expanded]="menu.expanded">
            <i class="{{ menu.icon }} me-2"></i>
            <span [class.d-none]="sidebarCollapsed()">{{ menu.title }}</span>
          </a>

          <ul class="dropdown-menu bg-sidebar text-white" [class.show]="menu.expanded">
            <li *ngFor="let child of menu.children">
              <a class="dropdown-item text-white"
                 [routerLink]="child.route"
                 routerLinkActive="active"
                 (click)="menu.expanded = false">
                <i class="{{ child.icon }} me-2"></i> {{ child.title }}
              </a>
            </li>
          </ul>
        </ng-container>

        <!-- Simple link -->
        <ng-template #simpleLink>
          <a class="nav-link text-white"
             [routerLink]="menu.route"
             routerLinkActive="active">
            <i class="{{ menu.icon }} me-2"></i>
            <span [class.d-none]="sidebarCollapsed()">{{ menu.title }}</span>
          </a>
        </ng-template>

      </li>
    </ul>
  </aside>

  <!-- Main Content -->
  <!-- <main class="flex-grow-1 p-4">
    <router-outlet></router-outlet>
  </main>  -->
</div>
