<div class="d-flex flex-column vh-100">

    <app-admin-header [userRole]="userRole" (logout)="onLogout()"
        (createShop)="openCreateShopModal()"></app-admin-header>
    <div class="d-flex flex-grow-1">
        <app-aside-bar (shopInfoClick)="showShopTable = true" (dashboardClick)="showShopTable = false"></app-aside-bar>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">

                    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
                        <h1 class="mt-4 text-primary">Welcome to {{ userName }} Dashboard</h1>
                    </div>
                    <hr>
                    <!-- Router outlet for page content -->
                    <router-outlet></router-outlet>
                </div>
            </main>
        </div>
    </div>
</div>


<!-- Shops Grid -->
<!-- <app-all-shops-table
                    *ngIf="showShopTable"
                    [shops]="shops"
                    [isEditMode]="isEditMode"
                    [shopForm]="shopForm"
                    [logoPreview]="logoPreview"
                    [logoFile]="logoFile"
                    (createShop)="openCreateShopModal()"
                    (editShop)="openEditShopModal($event)"
                    (deleteShop)="confirmDelete($event)"
                    (fileChange)="onFileChange($event)"
                    (submitShop)="onSubmit()"
                ></app-all-shops-table> -->