<div class="d-flex">
  <!-- Sidebar -->
  <aside class="bg-dark text-white p-3 vh-100" style="width: 250px;">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let menu of structuredMenu">
        <!-- Has children -->
        <div *ngIf="menu.children?.length > 0; else simpleLink">
          <a href="#" class="nav-link text-white d-flex justify-content-between align-items-center"
             (click)="toggleMenu(menu); $event.preventDefault()">
            <span>
              <i class="{{ menu.icon }} me-2"></i>
              {{ menu.title }}
            </span>
            <i class="bi" [ngClass]="menu.expanded ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
          </a>
          <ul class="nav flex-column ps-3" *ngIf="menu.expanded">
            <li *ngFor="let child of menu.children">
              <a class="nav-link text-white"
                 [routerLink]="'/app-admin/'+ child.route"
                 routerLinkActive="active">
                <i class="{{ child.icon }} me-2"></i> {{ child.title }}
              </a>
            </li>
          </ul>
        </div>

        <!-- No children -->
        <ng-template #simpleLink>
          <a class="nav-link text-white"
             [routerLink]="menu.route"
             routerLinkActive="active">
            <i class="{{ menu.icon }} me-2"></i>
            {{ menu.title }}
          </a>
        </ng-template>
      </li>
    </ul>
  </aside>

  

